body {
  font-family: "Do Hyeon", sans-serif;
}
.header {
  text-align: center;
}
.header_a {
  width: 20%;
  height: 100%;
  border-radius: 15px;
}
.main {
  width: 100vw;
  height: 65vh;
  background: url(../images/main_dt_background.gif) no-repeat center top;
}

.main_dt .main_title span {
  padding-top: 40px;
  color: #fff;
  display: block;
  font-size: 3vw;
  font-weight: bold;
  padding-left: 15px;
  padding-bottom: 30px;
}

.main_dl {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main li {
  padding-top: 10px;
}
.main_dt ul li span.tit {
  color: #a3a3a3;
  border-bottom: 1px solid #2e2e2e;
  padding-left: 0%;
}

.main_dt ul li span {
  font-size: calc(10px + 0.5vw);
  color: #fff;
  padding-left: 23px;
}

.main_dd {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main_dd img {
  padding-top: 20px;
  width: 25vw;
  height: 25vw;
  padding-bottom: 10px;
  min-width: 150px;
  min-height: 150px;
}

.main_dd a {
  font-size: calc(15px + 0.5vw);
  text-decoration: none;
  color: #fff;
  padding: 10px;
  background: #ed1839;
  border-radius: 15px;
}

.map {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 10px;
  max-width: 100%;
  height: 35%;
  background-color: aliceblue;
}

.map_title {
  font-size: 3vw;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;
}

.map img {
  width: 60vw;
  height: 40vw;
}

.map_info {
  color: black;
  font-size: calc(10px + 0.5vw);
  line-height: 2.5vw;
  padding-left: 20px;
}

.map_trans {
  font-size: calc(13px + 0.5vw);
  color: #f8b878;
  font-weight: bold;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_a {
  width: 15%;
  height: 100%;
}
.footer_text {
  display: flex;
  flex-direction: column;
}
.footer span {
  padding-left: 15px;
  padding-top: 8px;
  font-size: 1vw;
  font-weight: bold;
  opacity: 0.6;
}
