* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
}

.header {
  width: 100vw;
  height: 10vh;
  text-align: center;
}
.header_a {
  padding-top: 13px;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.main {
  width: 100vw;
  height: 85vh;
  background: url(/images/main_dt_background.gif) no-repeat center top;
}

.main dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.main dt {
  width: 100%;
  float: none;
  margin-top: 30px;
  width: calc(80% - 250px);
  float: left;
}
.main dt .main_title {
  margin-top: 25px;
  color: #fff;
  font-size: 17px;
}

.main dt .main_title span {
  display: block;
  font-size: 40px;
  margin-top: 5px;
  font-weight: bold;
  line-height: 45px;
}

.main dt ul li span.tit {
  width: 65px;
  height: 30px;
  color: #a3a3a3;
  border-bottom: 1px solid #2e2e2e;
  padding-left: 0;
}

.main dt ul li span {
  font-size: 14px;
  color: #fff;
  vertical-align: middle;
  padding-left: 23px;
}

.main dd {
  padding-top: 30px;
  width: 220px;
  height: 280px;
  text-align: right;
  float: right;
}

.main dd p a {
  display: block;
  text-align: center;
  font-size: 17px;
  color: #fff;
  background: #ed1839;
  line-height: 53px;
  height: 53px;
}

.footer {
  width: 100vw;
  height: 5vh;
  background-color: teal;
  text-align: center;
}
